/src/block-backend/package-lock.json
/src/block-frontend/package-lock.json
/src/TestingHardhatSolidityProject/package-lock.json
/src/block-backend/public
/dat/mint&send.mp4
/dat/badge-truffle/.secret
